@import '../../../shared/styles/tables.css';
@import '../../../shared/styles/buttons.css';
@import '../../../shared/styles/badges.css';
@import '../../../shared/styles/pagination.css';
@import '../../../shared/styles/forms.css';
@import '../../../shared/styles/tabs.css';
@import '../../../shared/styles/settings-layout.css';

.deal-settings-page {
  padding: 1.5rem;
}

.modal-content {
  width: 100%;
  max-width: 450px;
}
